<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://t0.tianditu.cn" matchAll="true"/>
     <serverUrl url="http://t1.tianditu.cn" matchAll="true"/>
      <serverUrl url="http://t2.tianditu.cn" matchAll="true"/>
       <serverUrl url="http://t3.tianditu.cn" matchAll="true"/>
        <serverUrl url="http://t4.tianditu.cn" matchAll="true"/>
         <serverUrl url="http://t5.tianditu.cn" matchAll="true"/>
          <serverUrl url="http://t6.tianditu.cn" matchAll="true"/>
           <serverUrl url="http://t7.tianditu.cn" matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
